
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart-header{
    display: flex;
    font-weight: bold;
    margin: 30px 10px;
}

.cart-header-product{
    display: flex;
    flex: 1.5;
    margin: 10px;
}

.cart-header-product input{
    width: 20px;
    height: 20px;
    margin: auto 10px;
}

.cart-header label{
    flex: 1;
}

.cart-items{
    border: 1.5px solid black;
    border-radius: 8px;
    margin:10px;
}

.cart-item{
    display: flex;
}

.cart-item-image{
    width: 120px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid black;
    border-radius: 8px;
}

.cart-item svg{
    width: 15px;
    height: 15px;
}

.cart-item-checkbox{
    width: 20px;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 5px;
}

.cart-item-details{
    display: flex;
    border: solid 1px black;
    border-radius: 5%;
    justify-content: space-between;
    padding: 15px;
    margin: 15px;
}

.cart-item-column-product{
    margin:auto;
    flex: 7;
    padding: 15px;
}

.cart-item-name{
    font-size: larger;
}

.cart-item-column-product p{
    border: solid 1px black;
    border-radius: 20%;
    text-align: center;
    padding: 1px;
}

.cart-item-column-price{
    margin: auto;
    flex: 1;
    padding: 50px;
}

.cart-item-column-quan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 15%;
    padding: 5px;
    width: 90px;
    margin: auto 55px;
}

.cart-item-quantity {
    margin: 0;
    flex: 1;
    text-align: center;
}

.cart-item-column-estimate{
    margin: auto 35px;
    flex:1;
}

.cart-item-column-edit{
    display: flex;
    margin: auto 70px;
    flex:2;
    justify-content: space-between;
}

.size-6 {
    width: 50px;
    height: 50px;
}

