:root {
    --main-color: #543520;
}

.type-left {
    position: absolute;
    width: 280px;
    border: 1.5px solid var(--main-color);
    border-radius: 8px;
    margin-right: 10px;
    padding: 16px;
}

.type-header {
    display: flex;
    border-bottom: 1.8px solid var(--main-color);
    justify-content: center;
    padding-bottom: 6px;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    margin-bottom: 6px;
}

.type-header svg {
    margin-right: 4px;
}

.filter input[type="text"],
.filter select {
    border: 1.8px solid var(--main-color);
    border-radius: 4px;
    padding: 4px 6px;
    width: 100%;
}

.filter select {
    flex: 1;
}

.filter-price {
    display: flex;
}

.filter-item-color,
.filter-item-size {
    flex: 1;
}

.filter input[type="text"] {
    width: 50%;
}

.type-right {
    margin-left: 290px;
}

.filter-item h4 {
    font-weight: bold;
    margin: 4px 0;
}

.filter .button {
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    margin-top: 16px;
}

.type-right h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    text-transform: capitalize;
    line-height: 90px;
}

.type-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.filter-icon {
    display: none;
}

/*responsive*/

/* PC */
@media (min-width: 1001px) {

}

/* Tablet */
@media (min-width: 700px) and (max-width: 1000px){
    .type-container {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

/* Mobile */
@media (min-width: 0px) and (max-width: 699px){
    main {
        padding: 4px;
    }
    .filter-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        cursor: pointer;
        font-weight: bold;
        font-size: 30px;
        text-transform: capitalize;
        padding-bottom: 10px;
    }
    
    .type-left { 
        width: auto;
        top: 155px;
        right: 0;
        left: 10px;
        border: 1.5px solid var(--main-color);
        padding: 16px;
        background: white;
        display: none;
        z-index: 1;
    }

    .type-right {
        margin-left: 0;
    }

    .type-right h2 {
        display: none;
    }
    
    .type-container {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
