:root {
    --main-color: #543520;
    --sub-color: #f7f0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    color: var(--main-color);    
}

main {
    padding: 0 16px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--sub-color);
    border-bottom: 2px solid var(--main-color);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    align-items: center;
}

.search {
    display: flex;
    margin-right: 10px;
}

.search svg {
    display: block;
    width: 40px;
    padding: 10px;
    background-color: var(--main-color);
    fill: var(--sub-color);
    border-radius: 4px;
    margin-left: 1px;
}

.search svg:hover{
    cursor: pointer;
    opacity: 0.95;
}

.search input {
    padding: 8px;
    font-size: 15px;
    border: 1.5px solid var(--main-color);
    border-radius: 4px;
}

.add-button {
    background-color: var(--main-color);
    color: var(--sub-color);
    padding: 11px 20px;
    border-radius: 4px;
    font-weight: bold;
}

.add-button:hover {
    cursor: pointer;
    opacity: 0.95;
}

.table {
    width: 100%;
    text-align: left;
    font-weight: bolder;
}

.table-head {
    display: flex;
    padding: 10px 20px
}

.table-edit,
.table-data {
    display: flex;
    background-color: var(--sub-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
    font-weight: lighter;
}

.table-edit {
    display: none;
    background-color: white;
    margin-top: -10px;
    border: 1px solid;
}

.table-edit input {
    min-width: 60px;
}

.table-data p, .table-head p {
    display: block;
    align-self:center;
}

.table-id {
    flex: 1;
    font-weight: bold;
}

.table-firstname {
    flex: 1.5;
}

.table-lastname {
    flex: 2;
}

.table-age {
    flex:2;
}

.table-status {
    flex: 1.5;
}

.table-role {
    flex: 1;
}

.table-mail {
    flex: 3;
}

.table-address {
    flex: 2;
}

.table-action {
    flex: 2;
}

.table svg {
    width: 23px;
    margin: 0 4px;
}

.table-edit button,
.table-status-active {
    border: none;
    color:white;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 0 1.5px black;
    background: green;
}

.table-edit button {
    background-color: var(--main-color);
    margin-left: 10px;
    cursor: pointer;
}

.table-status-deactive {
    background-color: #a71919;
    border: none;
    color:white;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 0 1.5px black;
}

.add-form button,
.home-button {
    background-color: var(--main-color);
    display: inline-flex;
    text-decoration: none;
    padding: 10px;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 20px;
}
.home-button:hover{
    opacity: 0.95;
}
.home-button svg{
    fill: white;
}

.delete-container,
.form-container {
    position: fixed;
    background-color: #00000085;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.delete-form,
.add-form {
    background-color: white;
    padding: 0 20px;
    min-width: 400px;
}

.form-row {
    display: flex;
    align-items: center;
    margin: 10px 0;
}


.delete-form h2,
.add-form h2 {
    margin: 20px 0;
}

.add-form label {
    flex: 1;
    margin-right: 10px;
}

.add-form select,
.add-form input {
    padding: 6px;
    flex: 3;
}

.cancel-delete,
.delete-form button,
.add-form button {
    margin-top: 20px;
    border: none;
    color: white;
    width: 49%;
    display: flex;
    justify-content:center;
    padding: 14px;
    cursor: pointer;
}

.cancel-delete,
.delete-form button {
    margin-bottom: 20px;
    background-color: var(--main-color);
}
.button-container {
    display: flex;
    justify-content: space-between;
}

.type-icon {
    width: 44px;
    padding: 10px 10px 8px 10px;
    background-color: var(--sub-color);
    border-radius: 4px;
    cursor: pointer;
}
.type-icon:hover{
    opacity: 9.5;
    box-shadow: 0 0 2px black;
}
.type-form {
    position:absolute;
    background-color:var(--sub-color);
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 0 3px black;
    display: none;
}

.type + .type {
    margin-top: 10px;
}

.type label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.type input {
    margin-left: 6px;
}

.type-form button {
    background: var(--main-color);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 4px;
    margin-top: 10px;
    float: right;
}